.wd-popup.wd-promo-popup{
	background-color:#111111;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:left center;
}

.page-title-default{
	background-color:rgb(36,163,226);
	background-size:cover;
	background-position:center center;
}

.footer-container{
	background-color:rgb(16,29,35);
}

:root{
--wd-text-font:"Catamaran", Arial, Helvetica, sans-serif;
--wd-text-font-weight:400;
--wd-text-color:rgb(15,15,15);
--wd-text-font-size:16px;
}
:root{
--wd-title-font:"Catamaran", Arial, Helvetica, sans-serif;
--wd-title-font-weight:700;
--wd-title-color:#242424;
}
:root{
--wd-entities-title-font:"Catamaran", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight:700;
--wd-entities-title-color:rgb(51,51,51);
--wd-entities-title-color-hover:rgb(51 51 51 / 65%);
}
:root{
--wd-alternative-font:"Catamaran", Arial, Helvetica, sans-serif;
}
:root{
--wd-widget-title-font:"Catamaran", Arial, Helvetica, sans-serif;
--wd-widget-title-font-weight:700;
--wd-widget-title-transform:uppercase;
--wd-widget-title-color:#333;
--wd-widget-title-font-size:16px;
}
:root{
--wd-header-el-font:"Catamaran", Arial, Helvetica, sans-serif;
--wd-header-el-font-weight:400;
--wd-header-el-transform:uppercase;
--wd-header-el-font-size:16px;
}
:root{
--wd-primary-color:rgb(52,178,248);
}
:root{
--wd-alternative-color:rgb(0,144,188);
}
:root{
--wd-link-color:#333333;
--wd-link-color-hover:rgb(52,178,248);
}
:root{
--btn-default-bgcolor:rgb(52,178,248);
}
:root{
--btn-default-bgcolor-hover:rgb(50,98,242);
}
:root{
--btn-shop-bgcolor:rgb(52,178,248);
}
:root{
--btn-shop-bgcolor-hover:rgb(24,56,137);
}
:root{
--btn-accent-bgcolor:rgb(52,178,248);
}
:root{
--btn-accent-bgcolor-hover:rgb(24,56,137);
}
:root{
--notices-success-bg:#459647;
}
:root{
--notices-success-color:#fff;
}
:root{
--notices-warning-bg:#E0B252;
}
:root{
--notices-warning-color:#fff;
}
	:root{
	
	
			--wd-form-brd-radius: 0px;
	
	--wd-form-brd-width: 2px;

	--btn-default-color: #fff;
	--btn-default-color-hover: #fff;

	--btn-shop-color: #fff;
	--btn-shop-color-hover: #fff;

	--btn-accent-color: #fff;
	--btn-accent-color-hover: #fff;
	
	
	
	
	
	
	
	
	
			--btn-default-brd-radius: 5px;
		--btn-default-box-shadow: none;
		--btn-default-box-shadow-hover: none;
	
			--btn-shop-brd-radius: 5px;
		--btn-shop-box-shadow: none;
		--btn-shop-box-shadow-hover: none;
	
			--btn-accent-brd-radius: 5px;
		--btn-accent-box-shadow: none;
		--btn-accent-box-shadow-hover: none;
		}

	/* Site width */
		/* Header Boxed */
	@media (min-width: 1025px) {
		.whb-boxed:not(.whb-sticked):not(.whb-full-width) .whb-main-header {
			max-width: 1192px;
		}
	}

	.container {
		max-width: 1222px;
	}
	
	
		.elementor-section.wd-section-stretch > .elementor-column-gap-no {
			max-width: 1192px;
		}

		.elementor-section.wd-section-stretch > .elementor-column-gap-narrow {
			max-width: 1202px;
		}

		.elementor-section.wd-section-stretch > .elementor-column-gap-default {
			max-width: 1212px;
		}

		.elementor-section.wd-section-stretch > .elementor-column-gap-extended {
			max-width: 1222px;
		}

		.elementor-section.wd-section-stretch > .elementor-column-gap-wide {
			max-width: 1232px;
		}

		.elementor-section.wd-section-stretch > .elementor-column-gap-wider {
			max-width: 1252px;
		}

		@media (min-width: 1239px) {

			.platform-Windows .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}

		@media (min-width: 1222px) {

			html:not(.platform-Windows) .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}

	
/* Quick view */
div.wd-popup.popup-quick-view {
	max-width: 920px;
}

/* Shop popup */
div.wd-popup.wd-promo-popup {
	max-width: 800px;
}

/* Age verify */
div.wd-popup.wd-age-verify {
	max-width: 500px;
}

/* Header Banner */
.header-banner {
	height: 40px;
}

body.header-banner-display .website-wrapper {
	margin-top:40px;
}

/* Tablet */
@media (max-width: 1024px) {
	/* header Banner */
	.header-banner {
		height: 40px;
	}
	
	body.header-banner-display .website-wrapper {
		margin-top:40px;
	}
}

.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 223px;
}
		
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//believer.cloudesolution.com/wp-content/themes/ninza/fonts/woodmart-font.woff2?v=6.2.3") format("woff2");
}

